.no-product-selected {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100%;
    
    p {
      font-size: 24px;
      text-align: center;
      color: purple;
      font-weight: bold;
    }
  }
  